.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
      align-items: center;
}

#ddice-home {
  font-family: b;
}

#subnav {
  margin-top: 4.4rem;
  margin-left: 29vw;
  margin-right: 29vw;
  min-width: 35vw;
}

#subnav ul li p {
  color: wheat;
  margin-left: 2vw;
  margin-right: 2vw;
}

#subnav li p a {
  color: black;
  background-color: lightblue;
  border-radius: 5px;
}

#filter-btn {
  margin-left: 3rem;
  margin-top: 4rem;
}

li a svg {
  font-size: 26px;
}

div.d-flex.align-items-center {
  text-align: center;  
}

li a p {
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
}

input.form-control {
  align-self: center;
  width: 12em;
  min-width: 120px;
  max-width: 280px;
  margin-top: 8px;
  margin-bottom: 7px;
}

button.btn.btn-outline-light {
  background-color: lightblue;
  color: black;  
}

button.btn.btn-outline-light:hover {
  background-color: orange;
}

a.nav-link {
  background-color: lightblue;
  border-radius: 25px;
  min-width: 90px;
  height: 57px;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  margin-top: 3px;
  margin-bottom: 3px;

  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

div a p {
  color: black;
}

a.nav-link:hover {
  background-color: orange;
  padding-left: 26px;
  padding-right: 26px;
  margin-right: 1.1rem;
  margin-left: 1.1rem;
  transition: .4s;
}