{% extends "base.html" %}

{% block content %}
{% load static %} 

    <form action="" method="POST">

	<button id="filter-btn" class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filter Product</button>

    <button id="filter-btn" type="submit" class="btn btn-danger" type="button" name="reset">Reset</button>

	<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
	  <div class="offcanvas-header">
	    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Product Filter</h5>
	    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	  </div>
	  <div class="offcanvas-body">

	    {% load crispy_forms_tags %}
		{% crispy form %}

	  </div>
	</div>

    </form>

        <div class="row pt-5" style="margin-bottom:6rem; margin-left: 5.2rem; margin-right: 4.2rem;">
            <div class="col-sm-12">
                <table style="width:100%">
                    <thead style="text-align: end;">
                        <tr>
                            <th><p>Title</p></th>
                            <th><p>In stock</p></th>
                            <th><p>Sale</p></th>                            
                            <th><p>Recommend</p></th>
                            <th><p>Image</p></th>
                            <th><p>Available</p></th>
                            <th><p>OG Price</p></th>
                            <th><p>Price</p></th>
                            <th><p>Star</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in product_data %}
                        <tr>
                            <td style="text-align: end;">{{ prod.title }}</td>
                            <td style="text-align: end;">{{ prod.instock }}</td>
                            <td style="text-align: end;">{{ prod.onsale }}</td>
                            <td style="text-align: end;">{{ prod.recommend }}</td>
                            <td style="text-align: end;"><img src="/media/{{ prod.im }}" style="width: 15vw;"></td>
                            <td style="text-align: end;">{{ prod.available }}</td>
                            <td style="text-align: end;">{{ prod.ogprice }}</td>
                            <td style="text-align: end;">{{ prod.price }}</td>
                            <td style="text-align: end;">{{ prod.star }}</td>
                        </tr>
                        {% empty %}
                            <td style="text-align: end;">Sorry, there's no requested product..</td>
                            <td style="text-align: end;">...</td>
                            <td style="text-align: end;">...</td>
                            <td style="text-align: end;">...</td>
                            <td style="text-align: end;"><img src="{% static 'img/noimage.png' %}" style="width: 15vw;"></td>
                            <td style="text-align: end;">...</td>
                            <td style="text-align: end;">...</td>
                            <td style="text-align: end;">...</td>
                            <td style="text-align: end;">...</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}
