* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.main {
	margin: 4vw;
  min-height: 80vh;
}

.scale_to_fit {
  max-width: 80%;
  margin: 5px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main > ul > li > a > img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .2s;
}

.main > ul > li > a > img {
  transition: .2s;
}

.divider{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

button:hover {
  cursor: pointer;
}

footer {
  height: 100px;
  background-color: #2A597C;
}

footer > center > a {
  color: #fff;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination .step-links {
    display: inline-block;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.pagination .current {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2A597C;
    color: white;
    border: 1px solid #2A597C;
    margin: 0 4px;