{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="{% static 'favicon.webp' %}" type="image/icon type">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'css/nav.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'css/carousel.css' %}">
      <link rel="stylesheet" type='text/css' href="{% static 'css/product_detail.css' %}">
   </head>
   <body>
	<div class="nav">
	  <input type="checkbox" id="nav-check">
	  <div class="nav-header">
	  		<a href="{% url 'home' %}">
	   	<img src="{% static 'favicon.webp' %}" alt="Python icon" width="64px" /></a>
	  </div>
	  <div class="nav-btn">
	    <label for="nav-check">
	      <span></span>
	      <span></span>
	      <span></span>
	    </label>
	  </div>
	  <div class="nav-links">
	    <a href="/check_account"><img src="{% static 'img/icons/user.webp' %}" alt="User icon"/> User</a>
	    <a href="/cart"><img src="{% static 'img/icons/cart.webp' %}" alt="Cart icon"/> Cart</a>
	    <a href="https://github.com/kritserv/django_online_store" target="_blank"><img src="{% static 'img/icons/github.webp' %}" alt="GitHub icon" /> GitHub</a>
	  </div>
	    <form class="searchbar" action="{% url 'search_product' %}" method="GET">
	    	<input type="text" name="q" placeholder="Search.." />
	    	<button style="display: none;" type="submit">Search</button>
	    </form>
	</div>
	<div class="main">
      {% block content %}
      {% endblock %}
  </div>
  <footer>
  	<center>
  <a href="#">contact us</a><br/><a href="#">career</a><br/><a href="#">help centre</a>
</center>
</footer>
   </body>
      <script src="{% static 'js/image_slider.js' %}"></script>
</html>